body{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

html, body {
    height: 100%;
}

.column-left {
    flex: 70%;
    background-color: lightgray;
}

.column-right {
    float: right;
    flex: 30%;
    background-color: beige;
}

.card-image img{
    width: 250px;
    height: auto;
}

.img-on-hover img{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 250px;
    height: auto;
}

.deck-title{
    color: azure;
}

.available-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1.5fr));
}

.card-to-add{
    display: flex;
    width: 190px;
    position: relative;
}

.available-cards img{
    width: 190px;
    height: auto;
}

.card-to-add:hover input {
    position: absolute;
    display: block;
}

.card-to-add:hover .card-menu {
    top: 3%;
    left: 5%;
}

.card-to-add:hover .sub-card {
    top: 3%;
    left: 68%;
}

.card-to-add:hover .add-card {
    top: 3%;
    left: 82%;
}

.card-to-add input {
    top:0;
    left:100%;
    display: none;
}

/* Perteneciente a card menu */
#card-menu{
    display: block;
    position: absolute;
    background-color: darkgray;
    border-style: solid;
    border-color: black;
    padding: 8px;
}

#card-menu a{
    color: black;
    text-decoration: none;
}

#card-menu div:hover{
    background-color:lightgray;
}

/* Titulo editable */
#deck-name-title {
  cursor: pointer;
  border: 1px dashed transparent;
  padding: 2px;
}

.editable-title:focus {
  outline: none;
  border-color: #aaa;
}

.editing-title {
  background-color: dimgray;
  color: white;
  border-radius: 4px;
  padding: 2px 4px;
}

/* Perteneciente a la lista de cartas */
.card-item .number-copies {
    width: 1em;
}

.card-item .card-cost {
    width: 2em;
    text-align: end;
}

/* Perteneciente al punto que representa la rareza */
.rarity-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

.rarity-dot[rarity-value="1"] {
  background-color: lightgray;
}

.rarity-dot[rarity-value="2"] {
  background-color: lightskyblue;
}

.rarity-dot[rarity-value="3"] {
  background-color: rgb(243, 143, 243);
}

.rarity-dot[rarity-value="4"] {
  background-color: gold;
}

/* Animación al eliminar una carta */
.fade-out {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

/* Animación al añadir una carta */
@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-in {
  animation: slideInRight 0.3s ease-out forwards;
}