.deck-box a{
    text-decoration: none;
}

.faction-icon{
    width: 32px;
    height: auto;
}

.card-item{
    font-size: 14px;
}

.card-image img{
    width: 280px;
    height: auto;
}

.card-item-in-list div{
    display: inline-block;
    vertical-align: middle;
}