body{
    background-color: black;
}

.row {
    display: flex;
}
  
.column-left {
    flex: 70%;
    background-color: aqua;
}

.column-right {
    float: right;
    flex: 30%;
    background-color: beige;
}

.available-cards img{
    width: 190px;
    height: auto;
}