/* General */

.img-on-hover img{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 230px;
    height: auto;
}
  

/* Relacionado a search.html */
#navbar-select{
    right: 10px;
}

.card-list img{
    width: 280px;
    height: auto;
}

.search-result{
    padding-top: 40px;
    margin: 0px auto 0px auto;
    width: 1200px;
}

.card-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1.5fr));
    row-gap: 12px;
}

.bottom-control-row{
    padding-top: 12px;
}

.control-right-side{
    float: right;
    padding-right: 30px;
}

.search-info{
    font-size: 18px;
    padding-left: 12px;
}

@media screen and (max-width: 1200px){
    .search-result{
        width: 900px;
    }
}

@media screen and (max-width: 867px){
    .search-result{
        width: 100vw;
    }
    .individual-card{
        width: 45vw;
    }    
    .individual-card img{
        max-width: 100%;
        width: auto;
        height: auto;
    }
    .search-result{
        margin-left: 7px;
    }
}

@media screen and (max-width: 600px){
    .search-result{
        margin-left: 1%;
    }
    .card-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(210px, 1.5fr));
        row-gap: 12px;
    }
}

/* Relacionado a card.html*/

.card-info-container{
    padding-top: 30px;
}

.card-info{
    padding-top: 40px;
}

.center {
    padding-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 18px;
  }

.card-illustration{
    width: 440px;
}

.card-illustration img{
    width: 420px;
}

@media screen and (max-width: 600px){
    .card-illustration img{
        width: 85vw;
    }
    .card-illustration{
        justify-content: center;
        align-items: center;
    }
}

.card-set{
    padding-top: 50px;
}

.set-button{
    width: 340px;
}

.list-group-item{
    width: 340px;
}
