{% extends "baseTemplates/base.html" %}

{% block title %}RoG - Buscar mazos{% endblock %}

{% block content %}
  {% load static %}
  <link rel="stylesheet" href="{% static "deckbuilder/style.css" %}">
  <div class="search-result container p-5">
    <div class="search-info container">
      <!-- Esta info es para testear, cambiar por lo que corresponda luego -->
       <h1 class="">Mazos públicos</h2>
      
    </div>
    <form method="GET" role="search">
      <div class="search-options pt-3 pb-3 gap-3 d-flex flex-column flex-md-row align-items-stretch justify-content-between align-items-md-center">
          <!--
          Las opciones de busqueda debe incluir:
          - Buscar por formato (considerarlo opcional si hay uno solo)
          - Filtrar por nombre
          - Filtrar por facción
          - Filtrar por carta especifica
          -->
          <div class="input-group w-100 w-md-25">
              {% csrf_token %}
              {{ form.query }}
              <button class="btn btn-dark" type="submit" id="button-addon2"><i class="bi bi-search"></i></button>
          </div>
          <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle w-100 w-md-auto" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Ordenar <i class="bi bi-arrow-down-up"></i>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Recientemente creado</a></li>
              <li><a class="dropdown-item" href="#">Recientemente modificado</a></li>
              <li><a class="dropdown-item" href="#">Facciones</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Ascendente  <i class="bi bi-arrow-up"></i></a></li>
              <li><a class="dropdown-item active" href="#">Descendente <i class="bi bi-arrow-down"></i></a></li>
            </ul>
          </div>
      </div>
    </form>
    <div class="deck-list-info text-start">
      <p class="text-light fs-6">Se encontraron {{ page_obj.paginator.count }} mazos</p>
    </div>
    <div class="deck-list row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
      {% for deck in deck_list %}
        <div class="col">
          <div class="deck-box card h-100 text-center" id="deck-{{ deck.pk }}" data-factions="{{ deck.deck_factions }}">
            <a href="/decks/view/{{ deck.pk }}">
              <h4 class="card-title">{{ deck.deck_name }}</h4>
              <div class="factions text-center">
                {% for faction in deck.deck_factions %}
                  <img class="faction-icon" src="{% static 'RoGDB/sellos/sello-'|add:faction|add:'.webp' %}"></img>
                {% endfor %}
              </div>
              <a class="card-text" href="/decks/user/{{ deck.deck_owner }}">Por {{ deck.deck_owner }}</a>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="bottom-control-row pt-4">
      <div class = "control-left-side"></div>
      <div class = "control-right-side">
        <span class="step-links">
          {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-dark btn-sm"><b><i class="bi bi-arrow-bar-left"></i></b></a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-dark btn-sm"><i class="bi bi-arrow-left-short"></i> Anterior</a>
          {% else %}
          <a class="btn btn-dark disabled btn-sm"><i class="bi bi-arrow-bar-left"></i></a>
          <a class="btn btn-dark disabled btn-sm"><i class="bi bi-arrow-left-short"></i> Anterior</a>
          {% endif %}
          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-dark btn-sm">Siguiente <i class="bi bi-arrow-right-short"></i></a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-dark btn-sm"><i class="bi bi-arrow-bar-right"></i></a>
          {% else %}
            <a class="btn btn-dark disabled btn-sm">Siguiente <i class="bi bi-arrow-right-short"></i></a>
            <a class="btn btn-dark disabled btn-sm"><i class="bi bi-arrow-bar-right"></i></a>
          {% endif %}
        </span>
      </div>
    </div>
  </div>
{% endblock %}