{% extends "baseTemplates/base.html" %}

{% block title %}Constructor de mazos{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static "deckbuilder/deckbuilder-style.css" %}">
    <script text="text/javascript" src={% static "deckbuilder/csrftoken.js" %}></script>
    {{loadedDeck|json_script:"loaded-deck"}}
    <div class="container-fluid">
      <div class="row deckbuilder text-black">
          <div class="column-left col-md-9">
            <!-- Este div contiene la barra de acciones para la lista de cartas -->
            <div class="row p-2">
              <div class="col-md-6">
                <div class="input-group input-group-sm mb-3">
                    <input type="text" id="user-query" id="filter_search" class='form-control search-input' placeholder="Buscar cartas">
                    <button class="btn btn-secondary filter-button" type="button" id="submit-button">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
              </div>
              <div class="col-md-2">
                <!-- Me parece mejor si usamos iconos visuales -->
                <select class="form-select form-select-sm" aria-label="Selección de facción" id="faction-select">
                  <option selected value="">Todas las facciones</option>
                  {% for faction in factions %}
                    <option value="{{ faction.0 }}">{{ faction.1 }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-2">
                <!-- TODO: Programar esto -->
                <select class="form-select form-select-sm" aria-label="Selección de orden" id="attribute-order-select">
                  <option selected value="card_id__card_name">Nombre</option>
                  <option value="card_id__faction">Facciones</option>
                  <option value="card_id__rarity">Rareza</option>
                  <option value="card_id__converted_cost">Coste total</option>
                  <option value="card_id__attack">Ataque</option>
                  <option value="card_id__health">Salud</option>
                </select>
              </div>
              <div class="col-md-1">
                <div class="dropdown">
                  <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                    Ordenar
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" data-value="asc"><i class="bi bi-arrow-up"></i> Ascendente</a></li>
                    <li><a class="dropdown-item" href="#" data-value="des"><i class="bi bi-arrow-down"></i> Descendente</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="available-cards" id="available-cards">
              <script type="text/javascript" src="{% static "deckbuilder/createArrayOfCards.js" %}"></script>
            </div>
          </div>
          <div class="column-right col-md-3">
            <!-- Titulo del mazo (editable) -->
            <h4 id="deck-name-title" class="text-center">Sin nombre</h4>
            <input type="text" id="deck-name-input" class="form-control d-none text-center" />
            <!-- Ver donde acomodar esta opcion -->
            <select id="sort-cards" class="form-select w-auto mb-2">
              <option value="cost">Coste</option>
              <option value="faction">Facción</option>
              <option value="name">Nombre</option>
              <option value="type">Tipo</option>
            </select>
            <div class="text-center fs-5 p-1" id="main-deck-title" hidden>Mazo principal</div>
            <ul class="list-group" id="main-deck-list">
            </ul>
            <div class="text-center fs-5 p-1" id="side-deck-title" hidden>Side</div>
            <ul class="list-group" id="side-deck-list">
            </ul>
            <div class="text-center fs-5 p-1" id="maybe-deck-title" hidden>Candidatos</div>
            <ul class="list-group" id="maybe-deck-list">
            </ul>
            <!-- Mensaje para mostrar que está vacío el mazo -->
            <div id="empty-deck-message">
              <p class="text-center">Acá empieza la magia</p>
              <p class="text-center">Proba agregando algunas cartas al mazo.</p>
            </div>
            <!-- TODO: Cambiar esto -->
            <br><a href="#" class="save-button" id="save-button">Guardar Mazo</a>
            <br><br><br>Descripción del mazo<br><textarea id="deck-description"></textarea>
            <br><br>Visibilidad<br>
            <select name="visibility" id="visibility"  class="pb-2">
              <option value="P">Público</option>
              <option value="U">No Listado</option>
              <option value="R">Privado</option>
            </select>
            <script type="text/javascript" src="{% static "deckbuilder/saveDeck.js" %}"></script>
          </div>
      </div>
    </div>

    <!-- Esta es una imagen que se va a mostrar cuando se ponga el mouse sobre una carta en la lista -->
    <div class="img-on-hover">
      <img src="#" class="img-hover"></img>
    </div>
    <script src={% static "deckbuilder/showImageWhenHovering.js" %}></script>

    <!-- Menu para elegir donde van las cartas -->
    <div class="dropdown-menu card-menu" id="card-menu">
      <div id="menu-add-to-main"><a href='#'>Agregar al mazo principal</a></div>
      <div id="menu-add-to-side"><a href='#'>Agregar al mazo secundario</a></div>
      <div id="menu-add-to-maybe"><a href='#'>Agregar a candidatos</a></div>
    </div>
    <script type="text/javascript" src={% static "deckbuilder/cardMenu.js" %}></script>
    <script type="text/javascript" src="{% static "deckbuilder/modifyCardList.js" %}"></script>
    <script type="text/javascript" src="{% static "deckbuilder/editDeckName.js" %}"></script>
{% endblock %}