<!doctype html>
<html lang="es-AR">
  <head>
    <meta charset="utf-8" />
    <title>Buscar cartas</title>
  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" href="{% static "cardSearch/style.css" %}">
    <div class="search-result">
        <div class="search-info">
          <!-- Esta info es para testear, cambiar por lo que corresponda luego -->
          <p><strong>Se encontraron {{ page_obj.paginator.count }} mazos</strong></p>
        </div>
        <div class="search-options">
            <!--
            Las opciones de busqueda debe incluir:
            - Buscar por formato (considerarlo opcional si hay uno solo)
            - Filtrar por nombre
            - Filtrar por facción
            - Filtrar por carta especifica
            -->
            <label>Filtrar por carta </label>
            <input type="text" class="card-filter" id="card-filter"></input>
        </div>
        <div class="deck-list">
          {% for deck in deck_list %}
            <div class="deck-box" id="deck-{{ deck.pk }}" data-factions="{{ deck.factions }}">
                <a href="/decks/view/{{ deck.pk }}">
                    <h3>{{ deck.deck_name }}</h3>
                    {{ deck.format }}
                </a>
            </div>
          {% endfor %}
        </div>
        <div class="bottom-control-row">
          <div class = "control-left-side">
          </div>
          <div class = "control-right-side">
            <!-- Agregar código para habilitar o deshabilitar botones -->
            <span class="step-links">
              {% if page_obj.has_previous %}
                <a href="?page=1" class="button"><b> &#60;&#60; </b></a>
                <a href="?page={{ page_obj.previous_page_number }}" class="button"><b> Anterior </b></a>
              {% else %}
              <a class="button" disabled><b> &#60;&#60; </b></a>
              <a class="button" disabled><b> Anterior </b></a>
              {% endif %}
              {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="button"><b> Siguiente </b></a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="button"><b> &#62;&#62; </b></a>
              {% else %}
                <a class="button" disabled><b> Siguiente </b></a>
                <a class="button" disabled><b> &#62;&#62; </b></a>
              {% endif %}
            </span>
          </div>
        </div>
    </div>
  </body>
</html>