{% extends "baseTemplates/base.html" %}

{% block title %}RoG - {{ loadedDeck.deckname }}{% endblock %}

{% block content %}
  {% load static %}
  <link rel="stylesheet" href="{% static "deckbuilder/style.css" %}">
  <script text="text/javascript" src={% static "deckbuilder/csrftoken.js" %}></script>
  {{loadedDeck|json_script:"loaded-deck"}}
  <div class="deck-title container text-center p-3 w-75">
    <div class="deckname-text fs-2"> {{ loadedDeck.deckname }}</div>
    <div class="desc-text text-wrap p-2"> {{ loadedDeck.description }}</div>
    <div class="format-text fst-italic">{{loadedDeck.format}}</div>
    <div class="user-text">Creado por 
      <a href="/decks/user/{{loadedDeck.deck_owner}}" class="link-body-emphasis link-underline-opacity-0 link-underline-opacity-75-hover">{{loadedDeck.deck_owner}}</a>
      {% if loadedDeck.visibility == 'P' %}<i class="bi bi-globe-americas"></i>{% endif %}
      {% if loadedDeck.visibility == 'U' %}<i class="bi bi-eye-slash"></i>{% endif %}
      {% if loadedDeck.visibility == 'R' %}<i class="bi bi-lock-fill"></i>{% endif %}
    </div>
  </div>
  <div class="container p-3">
    <!-- Controles de agrupación y orden -->
    <div class="deck-controls mb-3 col-md-2 row">
      <label for="groupBySelect" class="form-label">Agrupar cartas por:</label>
      <select id="groupBySelect" class="form-select w-auto d-inline-block">
        <option value="none">Sin agrupar</option>
        <option value="cost">Coste</option>
        <option value="faction">Facción</option>
        <option value="type">Tipo</option>
      </select>
    </div>
    <div class="row">
      <!-- Columna izquierda: imagen -->
      <div class="column-left col-md-3 text-center mb-4">
        <div class="card-image">
          <img src="/media/media/card_Art/RoG-cardback.jpeg" id="card-art-display" class="img-fluid">
        </div>
      </div>

      <!-- Columna derecha: listas -->
      <!-- Contenedor vacío donde se van a inyectar las cartas -->
      <div id="card-list-container" class="deck-columns-wrapper d-flex flex-wrap gap-3 mt-3 col-md-9"></div>
    </div>
  </div>
  <script text="text/javascript" src={% static "deckbuilder/updateCardImage.js" %}></script>
  <script text="text/javascript" src={% static "deckbuilder/deckViewScripts.js" %}></script>
{% endblock %}