{% extends "baseTemplates/base.html" %}

{% block title %}Constructor de mazos{% endblock %}

{% block content %}
    <!-- Acá va el constructor de mazos en si, la parte visual y mucha de la logica. -->
    {% load static %}
    <link rel="stylesheet" href="{% static "deckbuilder/deckbuilder-style.css" %}">
    <script text="text/javascript" src={% static "deckbuilder/csrftoken.js" %}></script>
    {{loadedDeck|json_script:"loaded-deck"}}
    <div class="row deckbuilder text-black">
        <div class="column-left">
          <div class="row p-2">
            <span>Filtrar</span>
            <input type="text" id="user-query" id="filter_search">
            <a class="submit-button" id="submit-button" href="#">Buscar</a>
          </div>
          <div class="available-cards" id="available-cards">
            <script type="text/javascript" src="{% static "deckbuilder/createArrayOfCards.js" %}"></script>
          </div>
        </div>
        <div class="column-right">
          Nombre del mazo: <input type="text" id="deck-name-input">
          <p id="maindeck-title"  class="pt-2">Cartas en el mazo</p>
          <div class = "card-list" id = "main-card-list"></div>
          <br><p id="sidedeck-title">Cartas en el mazo secundario</p>
          <div class = "card-list" id = "side-card-list"></div>
          <br><p id="maybedeck-title">Cartas en duda</p>
          <div class = "card-list" id = "maybe-card-list"></div>
          <br><a href="#" class="save-button" id="save-button">Guardar Mazo</a>
          <br><br><br>Descripción del mazo<br><textarea id="deck-description"></textarea>
          <br><br>Visibilidad<br>
          <select name="visibility" id="visibility"  class="pb-2">
            <option value="P">Público</option>
            <option value="U">No Listado</option>
            <option value="R">Privado</option>
          </select>
          <script type="text/javascript" src="{% static "deckbuilder/saveDeck.js" %}"></script>
        </div>
    </div>

    <!-- Esta es una imagen que se va a mostrar cuando se ponga el mouse sobre una carta en la lista -->
    <div class="img-on-hover">
      <img src="#" class="img-hover"></img>
    </div>
    <script src={% static "deckbuilder/showImageWhenHovering.js" %}></script>

    <!-- Menu para elegir donde van las cartas -->
    <div class="dropdown-menu">
      <div id="menu-add-to-main"><a href='#'>Agregar al mazo principal</a></div>
      <div id="menu-add-to-side"><a href='#'>Agregar al mazo secundario</a></div>
      <div id="menu-add-to-maybe"><a href='#'>Agregar a candidatos</a></div>
    </div>
    <script type="text/javascript" src={% static "deckbuilder/cardMenu.js" %}></script>
    <script type="text/javascript" src="{% static "deckbuilder/addCardToList.js" %}"></script>
    <script type="text/javascript" src="{% static "deckbuilder/removeCardOfList.js" %}"></script>
{% endblock %}