{% extends "baseTemplates/base.html" %}

{% block title %}RoG Deckbuilder{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static "homepage/style.css" %}">
    <div class="px-4 py-2 my-5 text-center">
      <img class="d-block mx-auto mb-4 mw-100" src={% static "homepage/home-banner-placeholder.png" %} alt="">
      <h1 class="display-5 fw-bold text-body-light">RoG Deckbuilder</h1>
      <div class="col-lg-10 mx-auto">
        <p class="lead mb-4">Creador de mazos y base de datos de cartas para el TCG Argentino Rise of Gods</p>
        <div class="d-grid gap-2">
          <form method="POST" role="search">
            {% csrf_token %}
            <div class="btn-group p-2" role="group" aria-label="Seleccion de busqueda">
                {% for radio in form.search_category %}
                    {{ radio.tag }}
                    <label class="btn btn-secondary" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                {% endfor %}
            </div>
            <div class="input-group input-group-lg mb-3">
                {{ form.query }}
                <button class="btn btn-secondary search-button" type="submit" id="home-search-button">
                    <i class="bi bi-search"></i>
                </button>
            </div>
          </form>
          <!-- {{form}} -->
          <a href="/cards/advanced/" class="link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Avanzado<i class="bi bi-arrow-right-short"></i></a>
        </div>
      </div>
    </div>
{% endblock %}