<!doctype html>
<html lang="es-AR">
  <head>
    <meta charset="utf-8" />
    <title>Buscar cartas</title>
  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" href="{% static "homepage/style.css" %}">
    <div class="banner">
        <a class="active" href="/">Inicio</a>
        <a href="#about">Mazos</a>
        <a href="/cards/search">Cartas</a>
        {% if user.is_authenticated %}
          <a href="/user/profile">Perfil: {{ user.get_username }}</a>
          <form id="logout-form" method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
          </form>
        {% else %}
          <a href="/user/login">Ingresar {{ user.get_username }}</a>
        {% endif %}
    </div>
    <div class="homepage-body">
        <div class="center">
            <h2>Rise of Gods</h2>
            <p>Creador de mazos y base de datos de cartas</p>
            <div class="search-form">
                <form method="POST" role="search">
                    {% csrf_token %}
                    {{ form }}
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
                <br>
                <a href="/advanced/">Busqueda avanzada</a>
            </div>
        </div>
    </div>
  </body>
</html>