body{
    color: aliceblue;
    background-color: black;
}

.banner{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(116, 22, 153);
    width: 100%;
}

/* Cambiamos el estilo de los links en el banner */
.banner a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Cambiamos el color de los links cuando ponemos el mouse encima */
.banner a:hover{
    background-color: #ddd;
    color: black;
}

/* Cambiamos el elemento activo para indicar en que pagina estamos */
.banner a:active{
    background-color: #2196F3;
    color: white;
}

.center {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}