{% extends "baseTemplates/base.html" %}

{% block title %}RoG - Buscador Avanzado{% endblock %}

{% block content %}
  {% load static %}
  <link rel="stylesheet" href="{% static "cardSearch/style.css" %}">

  <div class="container py-5">
    <h2 class="text-center mb-4 text-white">Buscador Avanzado</h2>
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-6">
        <form method="POST" role="search" class="d-flex flex-column align-items-center gap-3">
          {% csrf_token %}

          <div class="form-group w-100 row">
            <label for="{{ form.card_name.id_for_label }}" class="form-label">{{ form.card_name.label }}</label>
            {{ form.card_name }}
          </div>

          <div class="form-group w-100 row">
            <label for="{{ form.text_box.id_for_label }}" class="form-label">{{ form.text_box.label }}</label>
            {{ form.text_box }}
            <div class="form-text text-white fst-italic">Ingrese texto de la caja de habilidades. El orden no importa.</div>
          </div>

          <div class="form-group w-100 row">
            <label for="{{ form.card_type.id_for_label }}" class="form-label">{{ form.card_type.label }}</label>
            {{ form.card_type }}
          </div>

          <div class="form-group w-100 row">
            <label for="{{ form.faction.id_for_label }}" class="form-label">{{ form.faction.label }}</label>
            {{ form.faction }}
          </div>

          <div class="form-group w-100 row">
            <label for="{{ form.rarity.id_for_label }}" class="form-label">{{ form.rarity.label }}</label>
            {{ form.rarity }}
          </div>

          <!-- Agregar un formateador para ingresar iconos. Puede que separar el coste génerico del de facción sea una buena idea -->
          <div class="form-group w-100 row">
            <label for="{{ form.cost.id_for_label }}" class="form-label">{{ form.cost.label }}</label>
            {{ form.cost }}
            <div class="form-text text-white fst-italic">Encuentre cartas con este coste exacto.</div>
          </div>

          <div class="row w-100 align-items-center">
            <label for="{{ form.converted_cost.id_for_label }}" class="form-label">{{ form.converted_cost.label }}</label>
            <div class="form-group col-6">
              {{ form.cc_operator }}
            </div>
            <div class="form-group col-6">
              {{ form.converted_cost }}
            </div>
          </div>

          <div class="form-group w-100 row">
            <label for="{{ form.attack.id_for_label }}" class="form-label">{{ form.attack.label }}</label>
            <div class="form-group col-6">
              {{ form.a_operator }}
            </div>
            <div class="form-group col-6">
              {{ form.attack }}
            </div>
          </div>

          <div class="form-group w-100 row">
            <label for="{{ form.health.id_for_label }}" class="form-label">{{ form.health.label }}</label>
            <div class="form-group col-6">
              {{ form.h_operator }}
            </div>
            <div class="form-group col-6">
              {{ form.health }}
            </div>
          </div>

          <div class="form-group w-100 row">
            <label for="{{ form.set_dropdown.id_for_label }}" class="form-label">{{ form.set_dropdown.label }}</label>
            {{ form.set_dropdown }}
          </div>

          <div class="form-group w-100 row">
            <label for="{{ form.legality.id_for_label }}" class="form-label">{{ form.legality.label }}</label>
            {{ form.legality }}
          </div>

          <div class="form-group w-100 row">
            <label for="{{ form.format.id_for_label }}" class="form-label">{{ form.format.label }}</label>
            {{ form.format }}
          </div>

          <div class="col-12 d-flex justify-content-center gap-5 mt-3">
            <button type="reset" class="btn btn-secondary">
              Limpiar <i class="bi bi-x-circle"></i>
            </button>
            <button type="submit" class="btn btn-primary">
              Buscar <i class="bi bi-search"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}