{% extends "baseTemplates/base.html" %}

{% block title %}RoG - {{ requestedcard.card_id.card_name }}{% endblock %}

{% block content %}
  {% load static %}
  <link rel="stylesheet" href="{% static "cardSearch/style.css" %}">

  <div class="container card-info-container pb-3 justify-content-center d-flex">
    <div class="row align-items-start gx-0">
      <div class="col-lg-2 card-illustration align-self-center">
        <img src="{{ requestedcard.card_art.url }}">
      </div>
      <div class="col-lg-3 col-xl-4 card-info pe-2 ">
        <ul class="list-group list-group-flush bg-transparent border border-light-subtle text-light-emphasis">
          <li class="list-group-item bg-transparent"><h1><b>{{ requestedcard.card_id.card_name }}</b></h1></li>
          <li class="list-group-item bg-transparent"><p>Rareza: {{ requestedcard.card_id.get_rarity_display }}</p></li>
          <li class="list-group-item bg-transparent"><p>Tipo: {{requestedcard.card_id.card_type}}</p></li>
          <li class="list-group-item bg-transparent"><p>{{requestedcard.card_id.text_box}}</p></li>
          {% if requestedcard.card_id.attack > 0 %}
            <li class="list-group-item bg-transparent"><p>{{requestedcard.card_id.attack}}/{{requestedcard.card_id.health}}</p></li>
          {% endif %}
          <li class="list-group-item bg-transparent"><em>Ilustrado por: <a href="/cards/search/artist={{requestedcard.artist}}" class="link-body-emphasis link-underline-opacity-0 link-underline-opacity-75-hover">{{requestedcard.artist}}</a></em></li>
        </ul>
        <!--Poner las legalidades acá-->
      </div>
      <div class="col-lg-3 card-set align-self-top">
        <a class="btn btn-primary set-button" href="/cards/set/{{ requestedcard.set_id.set_code }}">
          <h5>{{requestedcard.set_id.set_name}} ({{ requestedcard.set_id.set_code }})</h5>
          #{{ requestedcard.serial_number }}
        </a>
        <div class="prints">
          <div class="prints-title">
            <p>IMPRESIONES</p>
          </div>
          <ul class="list-group z-0">
          {% for print in otherprints %}
            {% if print.pk == requestedcard.pk %}
              <a class="show-card-image list-group-item list-group-item-action active" href="/cards/{{print.set_id.set_code}}/{{print.serial_number}}" data-card-art="/media/{{print.card_art}}">{{print.set_id.set_name}}</a>
            {% else %}
              <a class="show-card-image list-group-item list-group-item-action" href="/cards/{{print.set_id.set_code}}/{{print.serial_number}}" data-card-art="/media/{{print.card_art}}">{{print.set_id.set_name}}</a>
            {% endif %}
          {% endfor %}
          </ul>
        </div>
      {% if requestedcard.card_id.related_cards.all %}
        <div class="related-cards">
          <p>CARTAS RELACIONADAS</p>
          <ul class="list-group z-0">
          {% for related_card in relatedcards %}
            <!--Arreglar el link del arte-->
            <a class="show-card-image list-group-item list-group-item-action" href="/cards/{{ related_card.pk }}" data-card-art="/media/{{related_card.card_art}}">{{ related_card.card_id.card_name }}</a>
          {% endfor %}
          </ul>
        </div>
      {% endif %}
      </div>
    </div>
  </div>

  <!-- Esta es una imagen que se va a mostrar cuando se ponga el mouse sobre una carta en la lista -->
  <div class="img-on-hover z-2">
    <img src="#" class="img-hover"></img>
  </div>
  <script src={% static "cardSearch/showImageWhenHovering.js" %}></script>
{% endblock %}