{% extends "baseTemplates/base.html" %}

{% block title %}RoG - Buscar cartas{% endblock %}

{% block content %}
  {% load static %}
  <link rel="stylesheet" href="{% static "cardSearch/style.css" %}">
  <div class="search-result pb-5">
    <form method="POST" role="search">
      <div class="search-options pb-3 gap-3 d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-md-between text-center text-md-start">
        {% csrf_token %}
        <div class = "d-flex gap-2">
          <div class="dropdown">
            <button 
              id="sort-field-button"
              class="btn btn-dark dropdown-toggle w-100 w-md-auto btn-sm" 
              type="button" 
              data-bs-toggle="dropdown" 
              aria-expanded="false"
              data-query={{current_sort_by}}>
              {{ sort_by_label }}
            </button>
            <ul class="dropdown-menu" >
              <li><a class="dropdown-item {% if current_sort_by == 'card_id__card_name' %}active{% endif %}" href="#" data-query="card_id__card_name">Nombre</a></li>
              <li><a class="dropdown-item {% if current_sort_by == 'card_id__faction' %}active{% endif %}" href="#" data-query="card_id__faction">Facciones</a></li>
              <li><a class="dropdown-item {% if current_sort_by == 'card_id__rarity' %}active{% endif %}" href="#" data-query="card_id__rarity">Rareza</a></li>
              <li><a class="dropdown-item {% if current_sort_by == 'card_id__converted_cost' %}active{% endif %}" href="#" data-query="card_id__converted_cost">Coste total</a></li>
              <li><a class="dropdown-item {% if current_sort_by == 'card_id__attack' %}active{% endif %}" href="#" data-query="card_id__attack">Ataque</a></li>
              <li><a class="dropdown-item {% if current_sort_by == 'card_id__health' %}active{% endif %}" href="#" data-query="card_id__health">Salud</a></li>
              <li><a class="dropdown-item {% if current_sort_by == 'todo' %}active{% endif %}" href="#" data-query="card_id__card_name">Fecha de impresión</a></li> <!-- Ver como poner esto -->
            </ul>
          </div>
          <div class="dropdown">
            <button 
              id="sort-direction-button"
              class="btn btn-dark dropdown-toggle w-100 w-md-auto btn-sm" 
              type="button" 
              data-bs-toggle="dropdown" 
              aria-expanded="false"
              data-query={{current_order}}>
              <i class="bi {{ order_icon }}"></i> {{ order_label }}
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item {% if current_order == 'asc' %}active{% endif %}" href="#" data-query="asc"><i class="bi bi-arrow-up"></i> Ascendente</a></li>
              <li><a class="dropdown-item {% if current_order == 'des' %}active{% endif %}" href="#" data-query="des"><i class="bi bi-arrow-down"></i> Descendente</a></li>
            </ul>
          </div>
        </div>
        <div class = "align-items-right">
          <span class="step-links">
            {% if page_obj.has_previous %}
              <a href="?page=1" class="btn btn-dark btn-sm"><b><i class="bi bi-arrow-bar-left"></i></b></a>
              <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-dark btn-sm"><i class="bi bi-arrow-left-short"></i> Anterior</a>
            {% else %}
            <a class="btn btn-dark disabled btn-sm"><i class="bi bi-arrow-bar-left"></i></a>
            <a class="btn btn-dark disabled btn-sm"><i class="bi bi-arrow-left-short"></i> Anterior</a>
            {% endif %}
            {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}" class="btn btn-dark btn-sm">Siguiente <i class="bi bi-arrow-right-short"></i></a>
              <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-dark btn-sm"><i class="bi bi-arrow-bar-right"></i></a>
            {% else %}
              <a class="btn btn-dark disabled btn-sm">Siguiente <i class="bi bi-arrow-right-short"></i></a>
              <a class="btn btn-dark disabled btn-sm"><i class="bi bi-arrow-bar-right"></i></a>
            {% endif %}
          </span>
        </div>
      </div>
    </form>
    <!-- La idea es mostrar las cartas en paginas, de forma estatica. -->
    <div class="search-info text-center text-md-start">
      <!-- Esta info es para testear, cambiar por lo que corresponda luego -->
      <p class="fs-6">Se encontraron {{ page_obj.paginator.count }} cartas</p>
    </div>
    <!-- Acá está el loop que carga el arte de las cartas, y les asigna una url. -->
    <div class="card-list">
      {% for card in card_list %}
          <div class="individual-card">
            <a href="/cards/{{ card.set_id.set_code }}/{{ card.serial_number }}">
              <img src="{{ card.card_art.url }}"  alt={{"card.card_id.card_name"}}>
            </a>
          </div>
      {% endfor %}
    </div>
    <div class="bottom-control-row">
      <div class = "control-left-side">
      </div>
      <div class = "control-right-side">
        <span class="step-links">
          {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-dark btn-sm"><b><i class="bi bi-arrow-bar-left"></i></b></a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-dark btn-sm"><i class="bi bi-arrow-left-short"></i> Anterior</a>
          {% else %}
          <a class="btn btn-dark disabled btn-sm"><i class="bi bi-arrow-bar-left"></i></a>
          <a class="btn btn-dark disabled btn-sm"><i class="bi bi-arrow-left-short"></i> Anterior</a>
          {% endif %}
          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-dark btn-sm">Siguiente <i class="bi bi-arrow-right-short"></i></a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-dark btn-sm"><i class="bi bi-arrow-bar-right"></i></a>
          {% else %}
            <a class="btn btn-dark disabled btn-sm">Siguiente <i class="bi bi-arrow-right-short"></i></a>
            <a class="btn btn-dark disabled btn-sm"><i class="bi bi-arrow-bar-right"></i></a>
          {% endif %}
        </span>
      </div>
    </div>
  </div>
  <script src={% static "cardSearch/dropdownLogic.js" %}></script>
{% endblock %}