<!-- Ver como cargar mazos de otros usuarios, y mostrar sus nombres correctamente-->

{% extends "baseTemplates/base.html" %}

{% block title %}Mazos de {{ profile_name }}{% endblock %} <!-- Probablemente tenga que cambiar la variable acá -->

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static "users/style.css" %}">
    <div class="container text-center pt-5">
            <h1 class="">Mazos de {{ profile_name }}</h1>
        </div>
    <div class="container p-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Facciones</th>
                    <th scope="col">Formato</th>
                    <th scope="col">Ultima actualización</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for deck in deck_list %}
                    <tr>
                        <td><a href="/decks/view/{{ deck.pk }}">{{ deck.deck_name }}</a></td>
                        <td>
                            {% for faction in deck.deck_factions %}
                                <img class="faction-icon" src="{% static 'RoGDB/sellos/sello-'|add:faction|add:'.webp' %}"></img>
                            {% endfor %}
                        </td>
                        <td>{{ deck.format }}</td>
                        <td>{{ deck.last_updated }}</td>
                        <td>
                            {% if user.get_username == profile_name %}
                                <a href="/decks/builder/{{ deck.pk }}" class="btn btn-primary-outline"><i class="bi bi-pencil-square"></i></a>
                            {% else %}
                                <a href="/decks/builder/{{ deck.pk }}" class="btn btn-primary-outline"><i class="bi bi-copy"></i></i></a>
                            {% endif %}
                            
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}