<!doctype html>
<html lang="es-AR">
  <head>
    <meta charset="utf-8" />
    <title>Buscar cartas</title>
  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" href="{% static "cardSearch/style.css" %}">
    <div class="banner">
        <a href="#home">Inicio</a>
        <a href="#about">Mazos</a>
        <a class="active" href="#contact">Cartas</a>
        <input type="text" placeholder="Buscar cartas...">
    </div>
    <div class="card-info">
        <!-- Cuerpo de la informacion de una carta-->

        <div class="row">
          <div class="card-illustration">
            <img src="{{ requestedcard.card_art.url }}">
          </div>
          <div class="card-info">
            <p>Rareza: {{ requestedcard.rarity }}</p><br>
            <p>Texto: {{requestedcard.card.text_box}}</p>
          </div>
        </div>
        <div class="card-sets">

        </div>
    </div>
  </body>
</html>