<!doctype html>
<html lang="es-AR">
  <head>
    <meta charset="utf-8" />
    <title>Buscar cartas</title>
  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" href="{% static "cardSearch/style.css" %}">
    <div class="banner">
        <a href="#home">Inicio</a>
        <a href="#about">Mazos</a>
        <a class="active" href="#contact">Cartas</a>
        <input type="text" placeholder="Buscar cartas...">
    </div>
    <div class="search-result">
        <!-- La idea es mostrar las cartas en paginas, de forma estatica. -->
        <div class="search-info">
          <!-- Esta info es para testear, cambiar por lo que corresponda luego -->
          <p><strong>Se encontraron {{ cards_found }} cartas</strong></p>
        </div>
        <!-- Acá está el loop que carga el arte de las cartas, y les asigna una url. -->
        <div class="card-list">
          {% for card in card_list %}
              <a href="card/{{ card.id }}"><img src="{% static card.image %}"></a>
          {% endfor %}
        </div>
        <div class="bottom-control-row">
          <div class = "control-left-side">
          </div>
          <div class = "control-right-side">
            <!-- Agregar código para habilitar o deshabilitar botones -->
            {% if current_page == 1 %}
              <button type="button" disabled><b> &#60;&#60; </b></button>
              <button type="button" disabled><b> Anterior </b></button>
            {% else %}
              <button type="button"><b> &#60;&#60; </b></button>
              <button type="button"><b> Anterior </b></button>
            {% endif %}
            {% if total_pages == current_page %}
              <button type="button" disabled><b> Siguiente </b></button>
              <button type="button" disabled><b> &#62;&#62; </b></button>
            {% else %}
              <button type="button"><b> Siguiente </b></button>
              <button type="button"><b> &#62;&#62; </b></button>
            {% endif %}
          </div>
        </div>
    </div>
  </body>
</html>