{% extends "baseTemplates/base.html" %}

{% block title %}RoG - Registro{% endblock %}

{% block content %}
    {% load static %}
    <div class="container align-items-center justify-content-center col-lg-6 text-center py-5">
        <form method="POST">
            {% csrf_token %}
            {{form}}
            <div class="pt-3">
                <button type="submit" class="btn btn-primary w-50 mx-auto d-block">Registrarse</button>
            </div>
        </form>
    </div>  
{% endblock %}